.blog-banner{
	margin-top: 21px;
	background-color: @ryb_background_dark;
  	padding-top: 18px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.blog-underline{
  padding-bottom: 6px;
  border-bottom: 6px solid @ryb_white;
  margin-bottom: 6px;
  float: left;
  padding-right: 0px;
}

.blog-text-block{
	background-color: @ryb_background_dark;
	margin-top: 20px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 142px - 16px;
	margin-bottom: 106px;
	
	p{
		.h7;
		margin-bottom: 32px;

		&.quote-margin-offset{
			margin-top: -22px;
			margin-bottom: 16px;
		}
	}
}

.blog-text-space-small{
	margin-bottom: 10px;
}



.blog-stand-in-block{
	background-color: @ryb_white;
	padding-bottom: 158px;

}