.postit-block{
	margin-top: 20px;
	margin-bottom: 50px;
	background-color: @ryb_background_dark;
	margin-left: auto;
	margin-right: auto;
};

.postit-text{
    z-index:100;
    text-align: center;
	position: absolute;
	width: 100%;
};

h1{
	font-size: 60px;
	bottom: 325px;
};
h2{
	font-size: 32px;
	bottom: 60px;
}

.postit-yellow{
	margin-top: 45px;
	margin-bottom: 65px;
	image-position: relative;
};
