.footer-wrap{
	background-color: @ryb_background_dark;
	border-top: 5px solid @ryb_white;

	padding-top: 24px;
	padding-bottom: 30px;
	border-bottom: 23px solid @ryb_background_light;
	-webkit-box-shadow: 1px -1px 13px 0px rgba(50, 50, 50, 0.10);
	-moz-box-shadow:    1px -1px 13px 0px rgba(50, 50, 50, 0.10);
	box-shadow:         1px -1px 13px 0px rgba(50, 50, 50, 0.10);
	
	ul{
		.list-reset;
		li{
			padding-bottom: 10px;
		}
	}
}