body{
	background-color: @ryb_white;
	font-family: @ryb_font_family;
	font-size: @ryb_font_size;
	line-height: @ryb_font_line_height;
	color: @ryb_brown;
}
a{

	&:hover{
		text-decoration: underline;
	}

}