body{
	background-color: @ryb_white;
	font-family: @ryb_font_family;
	font-size: @ryb_font_size;
	line-height: @ryb_font_line_height;
	color: @ryb_brown;
}
a{
	&:hover{
		text-decoration: underline;
	}

}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	margin: 0;
}

h1,
.h1{
	font-size: @ryb_h1_font_size;
}
.ryb-red{
	color: @ryb_red;
}
.ryb-yellow{
	color: @ryb_yellow;
}
.ryb-blue{
	color: @ryb_blue;
}
.ryb-purple{
	color: @ryb_purple;
}
.ryb-black{
	color: @ryb_black;
}

.box{
	margin: 24px 0px 24px 0px;
}
.smallbox{
	margin: 0px 0px 10px 0px;
}