body{
	background-color: @ryb_background_light;
	font-family: @ryb_font_family;
	font-size: @ryb_font_size;
	line-height: @ryb_font_line_height;
	color: @ryb_brown;
}
a{
	color: @ryb_brown;
	&:hover{
		text-decoration: underline;
		color: @ryb_brown;
	}
	&:visited{
		color: lighten(@ryb_brown, 15%);
	}
	&:active{
		background-color: @ryb_white;
	}
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	line-height: 1.13em;
	margin: 0;
}

h1,
.h1{
	font-size: @ryb_h1_font_size;
}
h2,
.h2{
	font-size: @ryb_h2_font_size;
}
.h3{
	font-size: @ryb_h3_font_size;	
}
.h4{
	font-size: @ryb_h4_font_size;	
}

.ryb-red{
	color: @ryb_red;
}
.ryb-yellow{
	color: @ryb_yellow;
}
.ryb-blue{
	color: @ryb_blue;
}
.ryb-purple{
	color: @ryb_purple;
}
.ryb-black{
	color: @ryb_black;
}
.ryb-orange{
	color: @ryb_orange;
}
.ryb-dark-blue{
	color:@ryb_dark_blue;
}
.ryb-bg-red{
	background-color: @ryb_red;
}

.color-title{
	margin-bottom: 24px;
	@media (max-width:@screen-xs-max) {
		line-height: 40px;
		font-size: 12;
	}
}

.row-big{
	margin-left: -45px;
	margin-right: -45px;
	> div{
		padding-left: 45px;
		padding-right: 45px;
	}
}

.h7{
	font-size: @ryb_font_size;
	line-height: 22px;
}

.img-full-width{
	width: 100%;
}

p{
	letter-spacing: 0.08em;
}

q{
	display: block;
	.h2;
	line-height: 1.4em;
	padding: 10px 0;
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-color: @ryb_white;
	margin: 10px 10px 0px 10px;

	&.quote-left{
		float: left;
	}
	&.quote-right{
		float: right;
	}


	&:before,
	&:after{
		content: "";
	}
}

.full-width{
	width:100%;
}