.homepage-links{
	margin-top: 8px;
	margin-bottom: 11px;
}

.homepage-middle-wrapper{
	background-color: @ryb_background_dark;
  	padding-top: 43px;
	padding-bottom: 68px;
}

.underline-title{
  padding-bottom: 15px;
  border-bottom: 9px solid @ryb_background_light;
  margin-bottom: 11px;
  float: left;
  padding-right: 223px - 84px;
}

.teaser-block{
	background-color: @ryb_background_light;
  	height: 88px;
  	margin-bottom: 20px;
}

.homepage-image-row{
	margin-bottom: 20px;
	a{
		&:first-child{
			margin-right: 8px;
		}
	}
}

.underline-title-bottom{
	border-color: @ryb_background_dark;
	padding-right: 0;
	padding-bottom: 6px;
	margin-bottom: 32px;
}

.homepage-bottom{
	padding-top: 31px;
	padding-bottom: 85px;
}

.circle-image-link{
	.h1{
		padding-top: 44px;
	}
}

.four-box-spacing{
	margin: 0px +6% 0px +6%;
}

.box-text{
    z-index:100;
    position: center;
    .h2{
   		color:@ryb_white;
    }
}