.registration-block{
	background-color: @ryb_background_dark;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
}

.registration-button{
	padding: 50px 0px 45px 0px;
	margin: auto;
}

.registration-link{
	position: relative;
}

.registration-text{
    z-index:100;
    text-align: center;
   	color: @ryb_red;
	position: absolute;
	bottom: 60px;
	width: 100%;
}