.registration-block{
	background-color: @ryb_background_dark;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
}

.registration-button{
	padding: 50px 0px 45px 0px;
	margin: auto;
}

.registration-link{
	position: relative;
}

.registration-text{
    z-index:100;
    text-align: center;
	position: absolute;
	bottom: 48px;
	width: 100%;
}

h5{
	font-size: 45%; 
	line-height: 115%;
}

.text-block{
	margin-left: -12px;
}
.img-block{
	margin-top: -10px;
	width:105%
}