/*Colors*/
/*Fonts*/
/*Navbar*/
.spacing-reset {
  padding: 0;
  border: 0;
  margin: 0;
}
.list-reset {
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}
/* General CSS */
/* ------------------------------------------------------- */
body {
  background-color: #faf3d2;
  font-family: "Microsoft YaHei", STHeiti;
  font-size: 14px;
  line-height: 1.1em;
  color: #996633;
}
a {
  color: #996633;
}
a:hover {
  text-decoration: underline;
  color: #996633;
}
a:visited {
  color: #c68c53;
}
a:active {
  background-color: #ffffff;
}
.color-title {
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .color-title {
    line-height: 40px;
    font-size: 12;
  }
}
.row-big {
  margin-left: -45px;
  margin-right: -45px;
}
.row-big > div {
  padding-left: 45px;
  padding-right: 45px;
}
.h7 {
  font-size: 14px;
  line-height: 22px;
}
.img-center {
  margin: auto;
}
.full-width {
  width: 100%;
}
p {
  letter-spacing: 0.08em;
}
q {
  display: block;
  line-height: 1.13em;
  margin: 0;
  font-size: 24px;
  line-height: 1.4em;
  padding: 10px 0;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-color: #ffffff;
  margin: 10px 10px 0px 10px;
}
q.quote-left {
  float: left;
}
q.quote-right {
  float: right;
}
q:before,
q:after {
  content: "";
}
/* Font CSS */
/* ------------------------------------------------------- */
/*set the line-height for all headers red is tag, green is class */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.13em;
  margin: 0;
}
h1,
.h1 {
  font-size: 30px;
}
h2,
.h2 {
  font-size: 24px;
}
.h3 {
  font-size: 21px;
}
.h4 {
  font-size: 18px;
}
/* Colors CSS */
/* ------------------------------------------------------- */
.ryb-red {
  color: #d53e35;
}
.ryb-light-red {
  color: #ff3366;
}
.ryb-yellow {
  color: #ffcc66;
}
.ryb-dark-yellow {
  color: #cc9900;
}
.ryb-blue {
  color: #66cccc;
}
.ryb-purple {
  color: #cc66cc;
}
.ryb-black {
  color: #000000;
}
.ryb-orange {
  color: #ff9900;
}
.ryb-dark-blue {
  color: #339999;
}
.ryb-bg-red {
  background-color: #d53e35;
}
.ryb-pink {
  color: #ff9999;
}
.ryb-yolk {
  color: #ff9933;
}
.ryb-sky-blue {
  color: #3399cc;
}
.ryb-purple {
  color: #cc66cc;
}
.ryb-grass-green {
  color: #669966;
}
/* Detail Page Registration- Head */
/* ------------------------------------------------------- */
.detail-page-header {
  margin-top: 20px;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  background-color: #fee4ad;
  width: 45%;
  border: 5px solid #ffffff;
}
.detail-page-header .h1 {
  font-size: 295%;
}
.navbar-default {
  background-image: none;
  background-color: #fee4ad;
  border-top: 20px solid #faf3d2;
  border-bottom: 5px solid #ffffff;
}
.navbar-default .logo {
  padding: 7px 13px 7px 36px;
  display: block;
}
.navbar-default .navbar-nav {
  margin-top: 43px;
}
.navbar-default .navbar-nav > li {
  padding: 0 15px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 21px;
  line-height: 33px;
  background-color: transparent;
  color: #996633;
  border-bottom: 8px solid transparent;
  padding: 0;
}
.navbar-default .navbar-nav > li > a:hover {
  border-color: #996633;
  color: #bf8040;
}
.navbar-default .navbar-nav > li.active > a {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
.navbar-default .navbar-nav > li.active > a:hover {
  background-color: transparent;
}
.navbar-moblie {
  background-color: #fee4ad;
  background-image: none;
  border-width: 0px;
  border-bottom: 5px solid #ffffff;
  margin-bottom: 0px;
}
.mobile-logo img {
  float: right;
  padding: 8px 10px 0px 0px;
  margin-bottom: 8px;
  display: block;
}
.navbar-toggle {
  background-color: #66cccc;
  margin: 0;
  padding: 22px 13px;
  border: 0;
}
.navbar-toggle .icon-bar {
  background-color: #ffffff;
  width: 44px;
  height: 4px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 7px;
}
.navbar-toggle.collapsed {
  background-color: #339999;
}
.footer-wrap {
  /* Desktop Footer Style */
  background-color: #fee4ad;
  border-top: 5px solid #ffffff;
  padding-top: 24px;
  padding-bottom: 30px;
  border-bottom: 23px solid #faf3d2;
  -webkit-box-shadow: 1px -1px 13px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 1px -1px 13px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 1px -1px 13px 0px rgba(50, 50, 50, 0.1);
  /* Mobile Footer Style */
}
.footer-wrap ul {
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
}
.footer-wrap ul li {
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .footer-wrap {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 24px;
  }
}
/* footer CSS */
.mobile-footer-wrap {
  border-top: 5px solid #ffffff;
  background-color: #faf3d2;
}
.footer-title {
  margin-top: 20px;
  padding-top: 28px;
  padding-bottom: 16px;
  margin-bottom: 24px;
  background-color: #fee4ad;
}
.footer-title .h1 {
  font-size: 295%;
}
.footer-bottom {
  margin-top: 20px;
  padding-top: 36px;
  padding-bottom: 20px;
  background-color: #fee4ad;
}
.footer-bottom h4 {
  line-height: 150%;
}
.bottom-img-link {
  background-color: #fee4ad;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.bottom-img-link img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fee4ad;
  width: 38%;
  height: auto;
}
.homepage-links {
  margin-top: 8px;
  margin-bottom: 11px;
}
.homepage-middle-wrapper {
  background-color: #fee4ad;
  padding-top: 43px;
  padding-bottom: 68px;
}
.underline-title {
  padding-bottom: 15px;
  border-bottom: 9px solid #faf3d2;
  margin-bottom: 11px;
  float: left;
  padding-right: 139px;
}
.teaser-block {
  background-color: #faf3d2;
  height: 160px;
  margin-bottom: 20px;
}
.teaser-block h4 {
  text-indent: 30px;
  line-height: 1.5em;
  padding: 10px 10px 10px 10px;
  opacity: 0.75;
}
.homepage-image-row {
  margin-bottom: 20px;
}
.homepage-image-row a:first-child {
  margin-right: 8px;
}
.underline-title-bottom {
  border-color: #fee4ad;
  padding-right: 0;
  padding-bottom: 6px;
  margin-bottom: 32px;
}
.homepage-bottom {
  padding-top: 31px;
  padding-bottom: 85px;
}
.circle-image-link .h1 {
  padding-top: 44px;
}
.four-box-spacing {
  margin: 0px 6% 0px 6%;
}
.box-text {
  z-index: 100;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 10px;
  width: 100%;
  opacity: 0.65;
}
.block-link {
  padding: 0;
  position: relative;
}
/* homepage mobile CSS */
.mobile-homepage-title {
  background-color: #faf3d2;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 5px solid #ffffff;
}
.mobile-homepage-title .h1 {
  font-size: 295%;
}
.mobile-homepage-image {
  padding-top: 15px;
  padding-bottom: 53px;
  background-color: #fee4ad;
  padding-left: 0px;
  padding-right: 0px;
}
.mobile-home-info-page-wrapper {
  background-color: #faf3d2;
  border-top: 5px solid #ffffff;
  padding-top: 12px;
}
.mobile-home-info-registration-text {
  background-color: #fee4ad;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 5px;
}
.mobile-home-info-registration-text .mobile-info-title {
  font-size: 295%;
}
.mobile-home-info-registration-mid-text {
  padding-top: 18px;
  padding-bottom: 18px;
}
.mobile-home-info-image {
  padding-top: 38px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 46px;
}
.mobile-news-page {
  padding-top: 20px;
  background-color: #fee4ad;
  padding-bottom: 28px;
  margin-bottom: 20px;
}
.mobile-news-page .mobile-info-title {
  font-size: 295%;
}
.teaser-block-mobile {
  background-color: #faf3d2;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.teaser-block-mobile h4 {
  line-height: 1.5em;
  padding: 10px 10px 10px 10px;
}
.mobile-home-image-page-wrapper {
  background-color: #fee4ad;
  border-top: 5px solid #ffffff;
  margin-top: 30px;
  padding-bottom: 35px;
}
.mobile-image {
  padding-top: 30px;
  background-color: #fee4ad;
  padding-left: 0px;
  padding-right: 0px;
}
.blog-banner {
  margin-top: 21px;
  background-color: #fee4ad;
  padding-top: 18px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.blog-underline {
  padding-bottom: 6px;
  border-bottom: 6px solid #ffffff;
  margin-bottom: 6px;
  float: left;
  padding-right: 0px;
}
.blog-text-block {
  background-color: #fee4ad;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 126px;
  margin-bottom: 106px;
}
.blog-text-block p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 32px;
}
.blog-text-block p.quote-margin-offset {
  margin-top: -22px;
  margin-bottom: 16px;
}
.blog-text-space-small {
  margin-bottom: 10px;
}
.blog-stand-in-block {
  background-color: #ffffff;
  padding-bottom: 158px;
}
.teaser-placement {
  margin: 60px 45px 0px 45px;
}
.teaser-links p {
  line-height: 1.13em;
  margin: 0;
  font-size: 21px;
  padding-bottom: 10px;
  border-bottom: 10px solid #ffffff;
  margin: 0 10px 20px 10px;
  float: left;
}
.teaser-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}
.teaser-links li {
  line-height: 1.13em;
  margin: 0;
  font-size: 18px;
  margin-bottom: 30px;
}
.teaser-links li:before {
  content: "• ";
  font-size: 30px;
}
.teaser-links li:nth-child(1) {
  color: #d53e35;
}
.teaser-links li:nth-child(2) {
  color: #ffcc66;
}
.teaser-links li:nth-child(3) {
  color: #66cccc;
}
.teaser-links li:nth-child(4) {
  color: #99cc33;
}
.teaser-links li:nth-child(5) {
  color: #cc66cc;
}
/* blogpost mobile CSS */
.mobile-blogpost-title {
  background-color: #faf3d2;
  padding-top: 1px;
  padding-bottom: 2px;
  border-bottom: 5px solid #ffffff;
}
.mobile-blogpost-title .h1 {
  font-size: 295%;
}
.mobile-blogspot-time-stamp {
  background-color: #fee4ad;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 5px solid #ffffff;
}
.mobile-blogspot-image {
  padding-top: 0px;
  padding-bottom: 53px;
  background-color: #fee4ad;
  padding-left: 0px;
  padding-right: 0px;
}
.mobile-blogspot-text {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fee4ad;
}
.mobile-blogspot-text p {
  text-indent: 30px;
  background-color: #fee4ad;
  padding-top: 10px;
  padding-bottom: 30px;
  line-height: 1.8em;
  font-size: 115%;
}
.registration-block {
  background-color: #fee4ad;
  width: 100%;
  margin-bottom: 50px;
}
.registration-block td {
  padding: 20px 0px;
}
.registration-button {
  margin: auto;
}
.registration-link {
  position: relative;
}
.registration-text {
  padding: 5px 10px;
  font-size: 22px;
  line-height: 1.10;
  z-index: 100;
  text-align: center;
  width: 135px;
  vertical-align: middle;
  margin: 0 auto;
  background-color: #faf3d2;
}
.post-it-big {
  margin-top: 40px;
  margin-bottom: 60px;
}
.postit-block {
  background-color: #fee4ad;
  margin-left: auto;
  margin-right: auto;
}
.postit-text {
  z-index: 100;
  text-align: center;
  position: absolute;
  width: 100%;
}
.contact-page h1 {
  font-size: 60px;
  bottom: 330px;
}
.contact-page h2 {
  font-size: 35px;
  bottom: 45px;
}
.contact-page h3 {
  font-size: 32px;
  bottom: 140px;
}
.contact-page h4 {
  font-size: 24px;
  bottom: 45px;
}
.contact-page h5 {
  font-size: 22px;
  bottom: 110px;
}
.postit-image {
  image-position: relative;
}
.poitit-text-block {
  padding-right: 28px;
}
.bigPost {
  padding-bottom: 160px;
  margin-bottom: 100px;
}
.schedule {
  /* > over write the bootstarp rule*/
}
.schedule > tbody > tr {
  /* cells with morning/afteroon class*/
}
.schedule > tbody > tr > td,
.schedule > tbody > tr th {
  width: 25%;
  border: 6px solid #fee4ad;
  color: #996633;
  text-align: center;
}
.schedule > tbody > tr > th {
  font-size: 40px;
  background-color: #faf3d2;
}
.schedule > tbody > tr > td.morning {
  font-size: 22px;
  background-color: #ffffff;
}
.schedule > tbody > tr > td.afternoon {
  font-size: 22px;
  background-color: #faf3d2;
}
.schedule > tbody > tr > td.blank {
  font-size: 22px;
  background-color: #cc9966;
}
.bg-block {
  background-color: #fee4ad;
  padding-left: 0;
  padding-right: 0;
  padding-botton: 25px;
  margin-bottom: 55px;
}
