/*Colors*/
/*Fonts*/
/*Navbar*/
body {
  background-color: #ffffff;
  font-family: "Microsoft YaHei", STHeiti;
  font-size: 14px;
  line-height: 25px;
  color: #996633;
}
a:hover {
  text-decoration: underline;
}
.navbar-default {
  background-image: none;
  background-color: #fee4ad;
}
.navbar-default .navbar-nav > li > a {
  font-size: 32px;
  line-height: 2em;
  background-color: transparent;
  color: #996633;
  border-bottom: 9px solid transparent;
  padding: 32px 22px;
  padding-bottom: 13px;
}
.navbar-default .navbar-nav > li > a:hover {
  border-color: #faf3d2;
}
.navbar-default .navbar-nav > li.active > a {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
.navbar-default .navbar-nav > li.active > a:hover {
  background-color: transparent;
}
