/*Colors*/
/*Fonts*/
/*Navbar*/

.spacing-reset {
  padding: 0;
  border: 0;
  margin: 0;
}
.list-reset {
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}
body {
  background-color: #faf3d2;
  font-family: "Microsoft YaHei", STHeiti;
  font-size: 12px;
  line-height: 14px;
  color: #996633;
}

.mid-frontpage {
  background-color: #fee4ad;
  width: 960px;
  height: 686px;
  padding-top: 43px;
  padding-left: 36px;
  padding-right: 36px;
}

.mid-divider-light{
  background-color: #faf3d2;
  width: 223px;
  height: 9px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.teaser-block{
  background-color: #faf3d2;
  width: 302px;
  height: 88px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mid-page-image{
    margin-top: 10px;
    margin-left: 32px;
    width: 557px;
}

.bottom-frontpage{
  margin-top: 31px;
  padding-left: 36px;
  width: 960px;
  height: 512px;
  background-color: #faf3d2;
}

.mid-divider-dark{
  background-color: #fee4ad;
  width: 250px;
  height: 8px;
  margin-top: 6px;
  margin-bottom: 0px;
}

.bottom-image-set{
  width: 856px;
  margin-top: 36px;
}

.bottom-mid-image{
  margin-left: 42px;
  margin-right: 42px;
}

a:hover {
  text-decoration: underline;
  color: #996633;
}
a:visited {
  color: #c68c53;
}
a:active {
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}
h1,
.h1 {
  font-size: 30px;
}
.ryb-red {
  color: #d53e35;
}
.ryb-yellow {
  color: #ffcc66;
}
.ryb-blue {
  color: #66cccc;
}
.ryb-purple {
  color: #cc66cc;
}
.ryb-black {
  color: #000000;
}
.color-title {
  margin-bottom: 24px;
}
.row-big {
  margin-left: -45px;
  margin-right: -45px;
}
.row-big > div {
  padding-left: 45px;
  padding-right: 45px;
}
.navbar-default {
  background-image: none;
  background-color: #fee4ad;
  border-top: 20px solid #faf3d2;
  border-bottom: 5px solid #ffffff;
}
.navbar-default .logo {
  padding: 7px 13px 7px 36px;
  display: block;
}
.navbar-default .navbar-nav {
  margin-top: 43px;
}
.navbar-default .navbar-nav > li {
  padding: 0 15px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 21px;
  line-height: 33px;
  background-color: transparent;
  color: #996633;
  border-bottom: 8px solid transparent;
  padding: 0;
}
.navbar-default .navbar-nav > li > a:hover {
  border-color: #996633;
  color: #bf8040;
}
.navbar-default .navbar-nav > li.active > a {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
.navbar-default .navbar-nav > li.active > a:hover {
  background-color: transparent;
}
.footer-wrap {
  background-color: #fee4ad;
  border-top: 5px solid #ffffff;
  padding-top: 24px;
  padding-bottom: 30px;
  border-bottom: 23px solid #faf3d2;
  -webkit-box-shadow: 1px -1px 13px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 1px -1px 13px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 1px -1px 13px 0px rgba(50, 50, 50, 0.1);
}
.footer-wrap ul {
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
}
.footer-wrap ul li {
  padding-bottom: 10px;
}

.blockSpacing {
  width: auto;
}

.page-center{
  margin-left: 36px;
  margin-right: 36px;
  width: 888px;
}

.blockNudge {
  margin-left: 75px;
  margin-top: 8px;
  margin-bottom: 11px;
  width: 816px;
}
