/*Colors*/

@ryb_red: #d53e35;
@ryb_yellow: #ffcc66;
@ryb_blue: #66cccc;
@ryb_dark_blue: #339999;
@ryb_green: #99cc33;
@ryb_purple: #cc66cc;
@ryb_background_light: #faf3d2;
@ryb_background_dark: #fee4ad;
@ryb_border: #000000;
@ryb_brown: #996633;
@ryb_white: #ffffff;
@ryb_black: #000000;
@ryb_orange: #ff9900;

/*Fonts*/

@ryb_font_family:"Microsoft YaHei", STHeiti;
@ryb_font_size: 14px;
@ryb_font_line_height: 1.1em;

@ryb_h1_font_size: 30px;
@ryb_h2_font_size: 24px;
@ryb_h3_font_size: 21px;
@ryb_h4_font_size: 18px;
@ryb_h5_font_size: 14px;
@ryb_h6_font_size: @ryb_font_size;

/*Navbar*/

@ryb_navbar_font_size: @ryb_h3_font_size;
@ryb_navbar_line_height: 33px;

.spacing-reset{
	padding: 0;
	border: 0;
	margin: 0;
}

.list-reset{
	.spacing-reset;
	list-style-type: none;
}



// Small screen / tablet
@screen-sm-min:              768px;

// Medium screen / desktop
@screen-md-min:              992px;

// Large screen / wide desktop
@screen-lg-min:              1200px;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);