/*Colors*/
@ryb_red: #d53e35;
@ryb_yellow: #ffcc66;
@ryb_blue: #66cccc;
@ryb_green: #99cc33;
@ryb_purple: #cc66cc;
@ryb_background_light: #faf3d2;
@ryb_background_dark: #fee4ad;
@ryb_border: #000000;
@ryb_brown: #996633;
@ryb_white: #ffffff;

/*Fonts*/
@ryb_font_family:"Microsoft YaHei", STHeiti;
@ryb_font_size: 14px;
@ryb_font_line_height: 25px;

/*Navbar*/
@ryb_navbar_font_size: 32px;
@ryb_navbar_line_height: 2em;
